
/*@font-face {
  font-family: 'Avenir Next LT Pro';

  src:  url(/fonts/AvenirNextLTPro-Regular.otf) format('opentype'),
        local('Avenir Next LT Pro') ;
}
*/

.browsehappy {
  margin: 0.2em 0;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: 'Open Sans','open-sans','sans-serif','Verdana','Times New Roman';
}
/* nav */

.navbar-brand {
  text-align: center;
  color:white;
  width: 150px;
  height: 60px;
  
}
.navbar-default{
  width: 100%;
  background-color:white; 
  height: 60px;
}


.navbar {
    min-height: 50px;
    margin-bottom: 40px;
    border-bottom: 0.5px solid #B2C1D8;
}

.navbar-nav {
    margin: 4px 14px;
}
.navbar-nav :hover{   
    border-bottom: 2px solid #B2C1D8;
}

.navbar-default .navbar-nav > li > a {
    color: black;
}

/* nav */

.container {
  vertical-align: middle;

}


.header {
 background-color: white;

}

/* login */


.login-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.login {
  border-bottom: none;
}


/* welcome */


.btn-primary {
    background-color: #0060F2;
    width: 400px;
    height: 60px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:0;
    position: absolute;
    top:600px;
    left:430px;
}

.btn-primary:hover{
    background-color: black;
}

.btn-default {
    background-color: white;
    font-size:14px;
    text-decoration: underline;
    width: 400px;
    border:none;
    border-radius: 0;
    position: absolute;
    top:660px;
    left:430px;

}

.btn-default:hover{
    background-color: white;
}

/* welcome */

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
 background: white;

}

/* Make the masthead heading the same height as the navigation */
.header h1 {
 background: white;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
