[Unit]
Description=Bitmarkd configuration program daemon
After=network.target

[Service]
Type=simple
Restart=on-failure

User=bitmark
Group=bitmark

PIDFile=/run/bitmark-webgui.pid

StandardOutput=journal
StandardError=journal

WorkingDirectory=/var/lib/bitmark-webgui
ExecStart=/usr/sbin/bitmark-webgui --config=/etc/bitmark-webgui.conf start

[Install]
WantedBy=multi-user.target
