Source: bitmark-webgui
Section: net
Priority: optional
Maintainer: Bitmark Developers <developers@bitmark.com>
Uploaders: Bitmark Developers <developers@bitmark.com>
Build-Depends: debhelper (>=9),
               dh-systemd,
               autoconf, automake, libtool, pkgconf,
               libzmq3-dev,
               golang [!powerpc],
               gccgo [powerpc]
Standards-Version: 3.9.6
Homepage: https://bitmark.com
Vcs-Git: git@github.com:bitmark-inc/bitmark-webgui.git
#Vcs-Browser: http://anonscm.debian.org/cgit/server-control/server-control.git

Package: bitmark-webgui
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends:
Description: Bitmarkd configuration program
 This is a program for bitmarkd configuration
