<div>
  <h3>Edit Bitmark Status</h3>
  <div>
    <button ng-click="saveConfig()">Save</button>
    <button ng-click="saveConfigAndStart()">Save&Start</button>
    <button ng-click="goUrl('/')">Cancel</button>
  </div>
  <br>
  <p>{{errorMsg}}</p>
  <form name="bitmarkForm" novalidate>
    <div class="panel panel-default">
      <div class="panel-heading">Bitmark RPC</div>
      <div class="panel-body">
        <p>Max connections: {{bitmarkConfig.ClientRPC.MaximumConnections}}</p>
        <p>
          <b>listen</b>
          <button ng-click="addItem(bitmarkConfig.ClientRPC.Listen, bitmarkConfig.ClientRPC.MaximumConnections)">+</button>
        </p>
        <div ng-repeat="listen in bitmarkConfig.ClientRPC.Listen track by $index">
          {{$index+1}}
          <input type="text" ng-model="bitmarkConfig.ClientRPC.Listen[$index]" required>
          <button ng-if="bitmarkConfig.ClientRPC.Listen.length>1" ng-click="deleteItem(bitmarkConfig.ClientRPC.Listen, $index)">x</button>
        </div>
        
        <p>
          <b>announce</b>
          <button ng-click="addItem(bitmarkConfig.ClientRPC.Announce, bitmarkConfig.ClientRPC.MaximumConnections)">+</button>
        </p>
        
        <div ng-repeat="announce in bitmarkConfig.ClientRPC.Announce track by $index">
          {{$index+1}}
           <input type="text" ng-model="bitmarkConfig.ClientRPC.Announce[$index]" required>
           <button ng-click="deleteItem(bitmarkConfig.ClientRPC.Announce, $index)">x</button>
         </div>
      </div>

    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Bitmark Peer</div>
      <div class="panel-body">
        <p>Max connections: {{bitmarkConfig.Peering.MaximumConnections}}</p>

        <p>
          <b>PublicKey</b>
        </p>
        <div>
          <p ng-if="bitmarkConfig.Peering.PublicKey != ''"> {{bitmarkConfig.Peering.PublicKey}}</p>
          <button>Generate new keypairs</button>
        </div>
        
        <p>
          <b>listen</b>
          <button ng-click="addItem(bitmarkConfig.Peering.Listen, bitmarkConfig.Peering.MaximumConnections)">+</button>
        </p>
        <div ng-repeat="listen in bitmarkConfig.Peering.Listen track by $index">
          {{$index+1}}
          <input type="text" ng-model="bitmarkConfig.Peering.Listen[$index]" required>
          <button ng-if="bitmarkConfig.Peering.Listen.length>1" ng-click="deleteItem(bitmarkConfig.Peering.Listen, $index)">x</button>
        </div>

        <p>
          <b>announce</b>
          <button ng-click="addItem(bitmarkConfig.Peering.Announce, bitmarkConfig.Peering.MaximumConnections)">+</button>
        </p>
        <div ng-repeat="announce in bitmarkConfig.Peering.Announce track by $index">
           {{$index+1}}
          <input type="text" ng-model="bitmarkConfig.Peering.Announce[$index]" required>
          <button ng-click="deleteItem(bitmarkConfig.Peering.Announce, $index)">x</button>
        </div>
          
        <p>
          <b>connect</b>
          <button ng-click="addItem(bitmarkConfig.Peering.Connect, bitmarkConfig.Peering.MaximumConnections)">+</button>
        </p>
        <table>
          <tr>
            <th>#</th>
            <th>PublicKey</th>
            <th>Address</th>
            <th></th>
          </tr>
          <tr ng-repeat="connect in bitmarkConfig.Peering.Connect track by $index">
            <td>{{$index+1}}</td>
            <td><input type="text" ng-model="bitmarkConfig.Peering.Connect[$index].PublicKey" ng-pattern="publicKeyPattern" required name="peerConnectPublicKey{{$index}}"></td>
            <td><input type="text" ng-model="bitmarkConfig.Peering.Connect[$index].Address" required></td>
            <td><button ng-click="deleteItem(bitmarkConfig.Peering.Connect, $index)">x</button></td>
          </tr>
        </table>

      </div>
    </div>  


    <div class="panel panel-default">
      <div class="panel-heading">Miner</div>
      <div class="panel-body">
        <p>Max connections: {{bitmarkConfig.Mining.MaximumConnections}}</p>
        <p>
          <b>listen</b>
           <button ng-click="addItem(bitmarkConfig.Mining.Listen, bitmarkConfig.Mining.MaximumConnections)">+</button>
        </p>
        <div ng-repeat="listen in bitmarkConfig.Mining.Listen track by $index">
          <input type="text" ng-model="bitmarkConfig.Mining.Listen[$index]" required>
          <button ng-if="bitmarkConfig.Mining.Listen.length>1" ng-click="deleteItem(bitmarkConfig.Mining.Listen, $index)">x</button>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Bitcoin</div>
      <div class="panel-body">
        <table>
          <tr>
            <td><b>username</b></td>
            <td><input type="text" ng-model="bitmarkConfig.Bitcoin.Username" required></td>
          </tr>
          <tr>
            <td><b>password</b></td>
            <td><input type="password" ng-model="bitmarkConfig.Bitcoin.Password"></td>
            <td ng-if="bitmarkConfig.Bitcoin.Password.length > 0"><b>verify</b></td>
            <td ng-show="bitmarkConfig.Bitcoin.Password.length > 0"><input type="password" ng-model="verifyPassword"></td>
            <td ng-show="!bitcoinPasswordEqual">not equal</td>
          </tr>
          <tr>
            <td><b>url</b></td>
            <td><input type="text" ng-model="bitmarkConfig.Bitcoin.URL" required></td>
          </tr>
          <tr>
            <td><b>fee<b></td>
            <td><input type="text" ng-model="bitmarkConfig.Bitcoin.Fee"></td>
          </tr>
        </table>

      </div>
    </div>
  </form>

</div>

