<div>
  <h3>Bitmark Configuration</h3>
  <div>
    <button ng-click="saveConfig()">Save</button>
    <button ng-click="saveConfigAndStart()">Save&Start</button>
    <button ng-click="goUrl('/')">Cancel</button>
  </div>
  <br>
  <p>{{errorMsg}}</p>
  <form name="bitmarkForm" novalidate>
    <div class="panel panel-default">
      <div class="panel-heading">Bitmark RPC</div>
      <div class="panel-body">
        <p>Max connections: {{bitmarkConfig.ClientRPC.MaximumConnections}}</p>

        <p>
          <b>chain</b>
          <label>
            <input type="radio" ng-model="bitmarkConfig.Chain" value="local" ng-change="setBitmarkProxy()">
            Local
          </label>
          <label>
            <input type="radio" ng-model="bitmarkConfig.Chain" value="testing" ng-change="setBitmarkProxy()">
            Testing
          </label>
          <label>
            <input type="radio" ng-model="bitmarkConfig.Chain" value="bitmark" ng-change="setBitmarkProxy()">
            Bitmark
          </label>
        </p>
 
        <p>
          <b>listen</b>
          <button ng-click="addItem(bitmarkConfig.ClientRPC.Listen, bitmarkConfig.ClientRPC.MaximumConnections)">+</button>
        </p>
        <div ng-repeat="listen in bitmarkConfig.ClientRPC.Listen track by $index">
          {{$index+1}}
          <input type="text" ng-model="bitmarkConfig.ClientRPC.Listen[$index]" required>
          <button ng-if="bitmarkConfig.ClientRPC.Listen.length>1" ng-click="deleteItem(bitmarkConfig.ClientRPC.Listen, $index)">x</button>
        </div>
        
        <p>
          <b>announce</b>
          <button ng-click="addItem(bitmarkConfig.ClientRPC.Announce, bitmarkConfig.ClientRPC.MaximumConnections)">+</button>
        </p>
        
        <div ng-repeat="announce in bitmarkConfig.ClientRPC.Announce track by $index">
          {{$index+1}}
           <input type="text" ng-model="bitmarkConfig.ClientRPC.Announce[$index]" required>
           <button ng-click="deleteItem(bitmarkConfig.ClientRPC.Announce, $index)">x</button>
         </div>
      </div>

    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Bitmark Peer</div>
      <div class="panel-body">
        <p>Max connections: {{bitmarkConfig.Peering.MaximumConnections}}</p>

        <p>
          <b>PublicKey</b>
        </p>
        <div>
          <p ng-if="bitmarkConfig.Peering.PublicKey != ''"> {{bitmarkConfig.Peering.PublicKey}}</p>
          <button>Generate new keypairs</button>
        </div>
        
        <p>
          <b>listen</b>
          <button ng-click="addItem(bitmarkConfig.Peering.Listen, bitmarkConfig.Peering.MaximumConnections)">+</button>
        </p>
        <div ng-repeat="listen in bitmarkConfig.Peering.Listen track by $index">
          {{$index+1}}
          <input type="text" ng-model="bitmarkConfig.Peering.Listen[$index]" required>
          <button ng-if="bitmarkConfig.Peering.Listen.length>1" ng-click="deleteItem(bitmarkConfig.Peering.Listen, $index)">x</button>
        </div>

        <p>
          <b>announce</b>
          <button ng-click="addItem(bitmarkConfig.Peering.Announce, bitmarkConfig.Peering.MaximumConnections)">+</button>
        </p>
        <div ng-repeat="announce in bitmarkConfig.Peering.Announce track by $index">
           {{$index+1}}
          <input type="text" ng-model="bitmarkConfig.Peering.Announce[$index]" required>
          <button ng-click="deleteItem(bitmarkConfig.Peering.Announce, $index)">x</button>
        </div>
          
        <p>
          <b>connect</b>
          <button ng-click="addItem(bitmarkConfig.Peering.Connect, bitmarkConfig.Peering.MaximumConnections)">+</button>
        </p>
        <table>
          <tr>
            <th>#</th>
            <th>PublicKey</th>
            <th>Address</th>
            <th></th>
          </tr>
          <tr ng-repeat="connect in bitmarkConfig.Peering.Connect track by $index">
            <td>{{$index+1}}</td>
            <td><input type="text" ng-model="bitmarkConfig.Peering.Connect[$index].PublicKey" ng-pattern="publicKeyPattern" required name="peerConnectPublicKey{{$index}}"></td>
            <td><input type="text" ng-model="bitmarkConfig.Peering.Connect[$index].Address" required></td>
            <td><button ng-click="deleteItem(bitmarkConfig.Peering.Connect, $index)">x</button></td>
          </tr>
        </table>

      </div>
    </div>  


    <div class="panel panel-default">
      <div class="panel-heading">Miner</div>
      <div class="panel-body">
        <p>Max connections: {{bitmarkConfig.Mining.MaximumConnections}}</p>
        <p>
          <b>listen</b>
           <button ng-click="addItem(bitmarkConfig.Mining.Listen, bitmarkConfig.Mining.MaximumConnections)">+</button>
        </p>
        <div ng-repeat="listen in bitmarkConfig.Mining.Listen track by $index">
          <input type="text" ng-model="bitmarkConfig.Mining.Listen[$index]" required>
          <button ng-if="bitmarkConfig.Mining.Listen.length>1" ng-click="deleteItem(bitmarkConfig.Mining.Listen, $index)">x</button>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <span>Bitcoin</span>
        <span>
          <label>
            <input type="radio" ng-model="bitmarkProxy" ng-value="false" ng-change="setBitmarkProxy('local')">
            <span ng-show="bitmarkConfig.Chain == 'local'">local-proxy</span>
            <span ng-hide="bitmarkConfig.Chain == 'local'">local-bitcoin</span>
          </label>
          <label ng-hide="bitmarkConfig.Chain == 'local'">
            <input type="radio" ng-model="bitmarkProxy" ng-value="true" ng-change="setBitmarkProxy()">
            BitmarkInc-proxy
          </label>
          <button uib-popover="Trustworthy bitcoin proxy from Bitmark Inc, help you to get rid of setting up a full node bitcoin (around 50 GB). Bitmark RPC chain should be testing or bitmark" popover-trigger="mouseenter" popover-placement="right" type="button" class="btn btn-sm" ng-hide="bitmarkConfig.Chain == 'local'">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          </button>
        </span>
    </div>
      <div class="panel-body">
        <!-- for local proxy -->
        <table ng-show="!bitmarkProxy">
          <tr>
            <td><b>username</b></td>
            <td><input type="text" ng-model="localProxyTemp.Username" required></td>
          </tr>
          <tr>
            <td><b>password</b></td>
            <td><input type="password" ng-model="localProxyTemp.Password"></td>
            <td ng-show="localProxyTemp.Password.length > 0"><b>verify</b></td>
            <td ng-show="localProxyTemp.Password.length > 0"><input type="password" ng-model="verifyPassword"></td>
            <td ng-show="!bitcoinPasswordEqual">not equal</td>
          </tr>
          <tr>
            <td><b>url</b></td>
            <td><input type="text" ng-model="localProxyTemp.URL" required></td>
          </tr>
          <tr>
            <td><b>fee<b></td>
            <td><input type="text" ng-model="localProxyTemp.Fee"></td>
          </tr>
          <tr>
            <td><b>Address<b></td>
            <td><input type="text" ng-model="localProxyTemp.Address"></td>
          </tr>
        </table>

        <!-- for bitmark testnet proxy -->
        <table ng-show="bitmarkProxy && bitmarkConfig.Chain == 'testing'">
          <tr>
            <td><b>url</b></td>
            <td>{{ bitmarkTestNetProxyTemp.URL }}</td>
          </tr>
          <tr>
            <td><b>fee<b></td>
            <td>{{ bitmarkTestNetProxyTemp.Fee }}</td>
          </tr>
          <tr>
            <td><b>Address<b></td>
            <td><input type="text" ng-model="bitmarkTestNetProxyTemp.Address"></td>
          </tr>
        </table>
        
        <!-- for bitmark proxy -->
        <table ng-show="bitmarkProxy && bitmarkConfig.Chain == 'bitmark'">
          <tr>
            <td><b>url</b></td>
            <td>{{ bitmarkProxyTemp.URL }}</td>
          </tr>
          <tr>
            <td><b>fee<b></td>
            <td>{{ bitmarkProxyTemp.Fee }}</td>
          </tr>
          <tr>
            <td><b>Address<b></td>
            <td><input type="text" ng-model="bitmarkProxyTemp.Address"></td>
          </tr>
        </table>
        
      </div>
    </div>
  </form>

</div>

