<div>
  <h3>Issue Bitmark</h3>
  <div style="background: rgba(222, 222, 222, 0.2); position:absolute; top:0; bottom:0;left:0; right:0; overflow:hidden;" ng-show="showWaiting">
    <img src="images/waiting.gif" style="position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%)">
  </div>

  <!-- info section -->
  <div class="panel panel-default">
    <div class="panel-heading">Info</div>
    <div class="panel-body">
      <p ng-show="showSetup">Setup an identity in bitmark and a bitcoin wallet to issue and transfer your assets. </p>
      <div ng-show="!showSetup">
        <uib-alert type="danger" close="infoErr.show=false" ng-show="infoErr.show">
          {{infoErr.msg}}
        </uib-alert>
        <uib-alert type="warning"  ng-show="infoAlert.show">
          {{infoAlert.msg}}
          <button ng-click="killPayProcess('info', true)">Yes</button>
          <button ng-click="killPayProcess('info', false)">Later</button>
        </uib-alert>
        <p>
          <b>Chain</b>
          {{onestepStatusResult.cli_result.network}}
        </p>
        <p>
          <b>Connect</b>
          {{onestepStatusResult.cli_result.connect}}
        </p>
        <p>
          <b>Identity Name</b>
          {{onestepStatusResult.cli_result.identities[0].name}}
        </p>
        <p>
          <b>Identity Description</b>
          {{onestepStatusResult.cli_result.identities[0].description}}
        </p>
        <p>
          <b>Identity Publickey</b>
          {{onestepStatusResult.cli_result.identities[0].public_key}}
        </p>
        <p>
          <b>Bitcoin Address</b>
          {{onestepStatusResult.pay_result.address}}
        </p>
        <p>
          <b>Estimated Balance</b>
          {{onestepStatusResult.pay_result.estimated_balance}}
        </p>
        <p>
          <b>Available Balance</b>
          {{onestepStatusResult.pay_result.available_balance}}
        </p>
      </div>
    </div>
  </div>
  
  <!-- Issue setction -->
  <div class="panel panel-default" ng-show="!showSetup && bitmarkCliInfoSuccess">
    <div class="panel-heading">
      Issue Asset
    </div>
    <div class="panel-body">
      <!--  alert -->
      <uib-alert type="{{issueResult.type}}" close="clearErrAlert('issue')" ng-if="issueResult != null">
        <b>{{issueResult.msg}}</b>
        <div ng-show="issueResult.cliResult != null">
          <span ng-repeat="index in issueResult.cliResult.issueIds track by $index">
            <div>
              <b>
                {{$index+1}}
                <span ng-if="issueResult.failStart != null && $index >= issueResult.failStart">
                  Pay Failed
                </span>
                <span ng-if="issueResult.failStart == null || $index < issueResult.failStart">
                    Pay Success
                </span>
              </b>
            </div>
            <div>
              <b>txid</b>
              {{issueResult.cliResult.issueIds[$index]}}
            </div>
            <div>
              <b>currency</b>
              {{issueResult.cliResult.paymentAddress[0].currency}}
            </div>
            <div>
              <b>address</b>
              {{issueResult.cliResult.paymentAddress[0].address}}
            </div>
          </span>
        </div>
      </uib-alert>
      
      <form name="issueForm">
        <div class="panel-body">
          <p>
            <label>
              Name
              <input type="text" ng-model="issueConfig.asset" required>
            </label>
          </p>
          <p>
            <label>
              Description
              <textarea ng-model="issueConfig.description" required></textarea>
            </label>
          </p>
          <p>
            <fingerprint-input file="file" fingerprint="issueConfig.fingerprint"></fingerprint-input>
            <label>
              Fingerprint
              {{issueConfig.fingerprint}}
            </label>
          </p>
          <p>
            <label>
              Quantity
              <input type="number" ng-model="issueConfig.quantity" required>
            </label>
          </p>
          <p>
            <label>
              Identity Password
              <input type="password" ng-model="issueConfig.cli_password" required>
            </label>
          </p>
          <p>
            <label>
              Pay Password
              <input type="password" ng-model="issueConfig.pay_password" required>
            </label>
          </p>        
        </div>
        <button ng-click="submitIssue()" ng-disabled="issueForm.$invalid || issueConfig.fingerprint == ''">submit</button>
      </form>        
    </div>
  </div>
</div>
