<div ng-if="!showWelcome">
  <h3>Login</h3>
  <p>{{errorMsg}}</p>

  <p>Password</p>
  <input type="password" ng-model="request.Password">
  <button ng-click="login()">login</button>
</div>

<div ng-if="showWelcome">
  <h3>Welcome to Bitmark Node</h3>
  <br/>
  <button type="button" class="btn btn-primary btn-lg" ng-click="goUrl('create')">Create New Bitmark Account</button>
  <br/><br/>
  <button type="button" class="btn btn-default btn-lg" ng-click="goUrl('access')">Access Existing Bitmark Account</button>
</div>
