  <h3>CREATE NEW BITMARK ACCOUNT</h3>

<!-- <div style="background: rgba(222, 222, 222, 0.2); position:absolute; top:0; bottom:0;left:0; right:0; overflow:hidden;" ng-show="generateConfig.running"> -->
<!--   <img src="images/waiting.gif" style="position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%)"> -->
<!-- </div> -->
  
<div class="panel panel-default" ng-show="panelConfig.showPart == 1">
  <div class="row row-create">
    <div class="col-md-3">
       <div class="panel-heading create-title" style="font-weight: bold;">SELECT CHAIN</div>
          <p class="create-sub" >Bitmark provide three diffrent chains to let the bitmarkd join in. They are local, testing, bitmark.</p>
    </div>
    <div class="col-md-8 col-md-offset-0">
    <div class="panel-body">
     <uib-alert type="danger" close="generateConfig.error.show=false" ng-show="generateConfig.error.show">
      {{generateConfig.error.msg}}
    </uib-alert>
    
     <uib-alert type="warning"  ng-show="generateConfig.encryptAlert.show">
      {{generateConfig.encryptAlert.msg}}
      <button ng-click="killPayProcess(true)">Yes</button>
      <button ng-click="killPayProcess(false)">Later</button>
     </uib-alert>

      <label class="create-select">
        <input type="radio" ng-model="generateConfig.chain" value="local" ng-disabled="generateConfig.running">
        LOCAL
        <p class="create-des">Create private bitmark network and bitcoin.</p>
      </label>
      <label class="create-select">
        <input type="radio" ng-model="generateConfig.chain" value="testing" ng-disabled="generateConfig.running">
        TESTING
        <p class="create-des">Link to public test bitmark network, to pay the transactions,<br> 
        please contact us.</p>
      </label>
      <label class="create-select">
        <input type="radio" ng-model="generateConfig.chain" value="bitmark" ng-disabled="generateConfig.running">
        BITMARK
        <p class="create-des">Link to public bitmark network, pay the transactions with real bitcoin.</p>
      </label>
      </div>
    <div class="generating" ng-show="generateConfig.running">
      <p ng-repeat="(i, val) in generateConfig.msg">
        {{val}}
      </p>        
    </div>
  </div>
    <div class="col-md-3 col-md-offset-9">
      <div class="panel-footer create-footer">
      <button class="btn pull-right generate" ng-click="generate(true)" ng-disabled="generateConfig.running">GENERATE » </button>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default" ng-show="panelConfig.showPart == 2">
  <div class="row row-create">
      <div class="col-md-3">
        <div class="panel-heading account-title" style="font-weight: bold;">YOUR ACCOUNT</div>
        <p class="create-sub" >You will need it to access the account. There is no way to recover this account when you lost it.</p>
          </div>
              <div class="col-md-8 col-md-offset-0">
                  <div class="panel-body">
                  <div class="alert alert-warning" role="alert">
                  Please write down your private key, and keep it safe. 
                  </div>
                    <p>
                  <!-- <b>private key</b> -->
                  <label class="privatekey">
                   {{privateKey}}</label>
                  </p>
                  </div>
              </div>
        <div class="panel-footer create-footer">
          <button class="btn pull-right generate" ng-click="toSetPassCode()" ng-disabled="generateConfig.running">NEXT »</button>
        </div>
  </div>
</div>

<div class="panel panel-default" ng-show="panelConfig.showPart == 3">
  <div class="row row-create">
     <div class="col-md-3">
        <div class="panel-heading account-title" style="font-weight: bold;">SET PASSCODE</div>
        <p class="create-sub" >To protect your private key, you need to setup a passcode, this passcode is just for this session, you will be asked to give a new one after you logout.</p>
        </div>
        <div class="col-md-8 col-md-offset-0">
         <div class="panel-body">
             <uib-alert type="danger" close="doneErr.show=false" ng-show="doneErr.show">
            {{doneErr.msg}}
             </uib-alert>
              <p>
              <br>
              <label>
              <password-set password="password" result="verifyPassword"></password-set>
             </label>
              </p>
          </div>
            <div class="col-md-3 col-md-offset-11">
              <div class="panel-footer create-footer">
                <button class="btn pull-right generate" ng-click="done()" ng-disabled="!verifyPassword">Done
                </button>
              </div>
            </div>
   </div>
</div>
