<h3>Create New Bitmark Account</h3>
<p>Create a bitmark account to get a new bitmark key pair and a new bitcoin wallet</p>

<!-- <div style="background: rgba(222, 222, 222, 0.2); position:absolute; top:0; bottom:0;left:0; right:0; overflow:hidden;" ng-show="generateConfig.running"> -->
<!--   <img src="images/waiting.gif" style="position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%)"> -->
<!-- </div> -->
  
<div class="panel panel-default" ng-show="panelConfig.showPart == 1">
  <div class="panel-heading">Choose bitmark Chain</div>
  <div class="panel-body">
    <uib-alert type="danger" close="generateConfig.error.show=false" ng-show="generateConfig.error.show">
      {{generateConfig.error.msg}}
    </uib-alert>
    
    <uib-alert type="warning"  ng-show="generateConfig.encryptAlert.show">
      {{generateConfig.encryptAlert.msg}}
      <button ng-click="killPayProcess(true)">Yes</button>
      <button ng-click="killPayProcess(false)">Later</button>
    </uib-alert>
    
    <p>
      <b>chain</b>
      <label>
        <input type="radio" ng-model="generateConfig.chain" value="local" ng-disabled="generateConfig.running">
        Local
      </label>
      <label>
        <input type="radio" ng-model="generateConfig.chain" value="testing" ng-disabled="generateConfig.running">
        Testing
      </label>
      <label>
        <input type="radio" ng-model="generateConfig.chain" value="bitmark" ng-disabled="generateConfig.running">
        Bitmark
      </label>
    </p>

    <div ng-show="generateConfig.running">
      <p ng-repeat="(i, val) in generateConfig.msg">
        {{val}}
      </p>        
    </div>
  </div>
  <div class="panel-footer">
    <button ng-click="generate()" ng-disabled="generateConfig.running">Generate</button>
  </div>
</div>

<div class="panel panel-default" ng-show="panelConfig.showPart == 2">
  <div class="panel-heading">Your Bitmark Account</div>
  <div class="panel-body">
    <div class="alert alert-warning" role="alert">
      Write down your private key, and keep it safe. You will need it to access the account. There is no way to recover this account when you lose it
    </div>
    <p>
      <!-- <b>private key</b> -->
      <label>
        {{privateKey}}
      </label>
    </p>
  </div>
  <div class="panel-footer">
    <button ng-click="toSetPassCode()" ng-disabled="generateConfig.running">Next</button>
  </div>
</div>

<div class="panel panel-default" ng-show="panelConfig.showPart == 3">
  <div class="panel-heading">Set passcode</div>
  <div class="panel-body">
    <div class="alert alert-warning" role="alert">
      To protect your private key, you need to setup a passcode, this passcode is just for this session, you will be asked to give a new one after you logout
    </div>
    <uib-alert type="danger" close="doneErr.show=false" ng-show="doneErr.show">
      {{doneErr.msg}}
    </uib-alert>
    <p>
      <b>Set passcode</b>
      <label>
        <password-set password="password" result="verifyPassword"></password-set>
      </label>
    </p>
  </div>
  <div class="panel-footer">
    <button ng-click="done()" ng-disabled="!verifyPassword">Done</button>
  </div>
</div>
