<div class="container loginContainer">
    <h3>BITMARK MANAGEMENT SYSTEM
        <div class="text-right">
          <button class="btn btn-primary-stop" ng-click="goUrl('/')" style="font-size:14px; font-weight:normal;">CANCEL</button>
        </div>
    </h3>
        <div class="panel panel-default">
            <div class="row row-create">
                <div class="col-md-3">
                <div class="panel-heading create-title" style="font-weight: bold;">SET PASSWORD</div>
                <p class="create-sub" >You can reset your password when you want to.</p>
                </div>

                <div class="col-md-8 col-md-offset-0">
                    <div class="panel-body">
                        <p style="color:#FF0000;">{{errorMsg}}</p>
                        <p>ORIGINAL PASSWORD</p>
                        <br>
                        <input class="enterpassword" type="password" ng-model="request.Origin">
                        <p>NEW PASSWORD (8~16 Characters)</p>
                        <br>
                        <password-set password="request.New" result="verifyPassword"></password-set>
                        {{password}}
                    </div>
                    <div class="col-md-3 col-md-offset-11">
                        <div class="panel-footer create-footer">
                        <button class="btn pull-right generate" ng-click="save()">SAVE</button>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
</div>