<h3>Bitmark Management System</h3>
  <p>{{errorMsg}}</p>
  <div>
    <button ng-click="goUrl('/')">Cancel</button>
  </div>
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">Set password</div>
    <div class="panel-body">
      <p><b>Original Password</b></p>
      <input type="password" ng-model="request.Origin">
      
      <p><b>New Password (8~16 Characters)</b></p>
      <password-set password="request.New"></password-set>
      {{password}}
    </div>
    <div class="panel-footer"><button ng-click="save()">save</button></div>    
  </div>
