<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bitmark Node</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="styles/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="bitmarkWebguiApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <div class="header" ng-controller="NavbarCtrl" ng-init="init()">
      <div ng-class="navbarClass" role="navigation">
        <div class="container">
          
          <div class="navbar-header" ng-show="showNavItem">
          
            <a class="navbar-brand" href="" ng-click="goUrl('/main')" >
                <img src="/images/bitmark-logo.png" class="logo" width="120px" height="28px" ></a>
          </div>

          <ul class="nav navbar-nav" ng-show="showNavItem">
            <li class="active"><a href="" ng-click="goUrl('/main')">STATUS</a></li>
            <li><a href="" ng-click="goUrl('/issue')">ISSUE</a></li>
            <li><a href="" ng-click="goUrl('/transfer')">TRANSFER</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-show="showNavItem">
            <li><a href="" ng-click="goUrl('/network')">NETWORK</a></li>
            <li><a href="" ng-click="goUrl('/logout')">LOGOUT</a></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="container">
             <div ng-view="">
             </div>
        </div>
    </div>
   

 

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="lib/jquery.js"></script>
    <script src="lib/angular.js"></script>
    <script src="lib/bootstrap.js"></script>
    <script src="lib/angular-cookies.js"></script>
    <script src="lib/angular-resource.js"></script>
    <script src="lib/angular-route.js"></script>
    <script src="lib/ui-bootstrap-tpls-1.3.2.min.js"></script>
    <script src="lib/jsSHA-sha512.js"></script>

    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/navBar.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/edit.js"></script>
        <script src="scripts/controllers/issueNTransfer.js"></script>
        <script src="scripts/controllers/network.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/loginProcess.js"></script>
        <script src="scripts/controllers/logout.js"></script>
        <script src="scripts/services/httpService.js"></script>
        <script src="scripts/services/configuration.js"></script>
        <script src="scripts/directives/passwordSet.js"></script>
        <script src="scripts/directives/fingerprintInput.js"></script>
        <!-- endbuild -->
</body>
</html>
